<p>new-passw works!</p>
<div class="NewPassw-page">
  
  <!-- Левое фоновое изображение -->
  <div class="background-image left-image"></div>
  
  <div class="NewPassw-container">
    <h1>Новый пароль</h1>
    <div class="NewPassw-switch">Установите новый пароль для своей учетной записи, чтобы вы могли войти в систему и получить доступ ко всем функциям.</div>
    
    <form [formGroup]="NewPasswForm" (ngSubmit)="onSubmit()">
      <div class="form-group password-group">
        <label for="new-password">Введите новый пароль</label>
        <div class="password-input-container">
          <input 
            id="new-password" 
            [type]="showPassword ? 'text' : 'password'" 
            formControlName="password" 
            placeholder="Не менее 8 символов"
          >
          <button 
            type="button" 
            class="toggle-password" 
            (click)="togglePasswordVisibility()"
          >
            <ng-container *ngIf="!showPassword">
              <img src="assets/images/eyeopen.svg" alt="eye">
            </ng-container>
            <ng-container *ngIf="showPassword">
              <img src="assets/images/eyeclosed.svg" alt="eye">
            </ng-container>
          </button>
        </div>
      </div>

      <div class="form-group password-group">
        <label for="confirm-password">Введите пароль повторно</label>
        <div class="password-input-container">
          <input 
            id="confirm-password" 
            [type]="showPassword ? 'text' : 'password'" 
            formControlName="confirmPassword" 
          >
          <button 
            type="button" 
            class="toggle-password" 
            (click)="togglePasswordVisibility()"
          >
            <ng-container *ngIf="!showPassword">
              <img src="assets/images/eyeopen.svg" alt="eye">
            </ng-container>
            <ng-container *ngIf="showPassword">
              <img src="assets/images/eyeclosed.svg" alt="eye">
            </ng-container>
          </button>
        </div>
      </div>
      
      <button type="submit" class="NewPassw-button">ОБНОВИТЬ ПАРОЛЬ</button>
    </form>
  </div>

  <!-- Правое фоновое изображение -->
  <div class="background-image right-image"></div>
</div>