<div class="main">
  <app-header class="header"></app-header>
  <div class="content">
    <div class="welcome">
      <div class="colummn-1">
        <h1>
          Получайте реальные отзывы - увеличивайте продажи и обходите
          конкурентов
        </h1>
        <h2>
          Автоматизированная генерация отзывов от "реальных" клиентов. Увеличьте
          доверие, позиции в поиске и продажи!
        </h2>
        <button class="role-btn customer-btn">
          <div class="column-btn-1">
            <h3 class="role-title customer-title">Заказчик</h3>
            <p class="role-text customer-text">
              Я буду повышать репутацию своей компании
            </p>
          </div>
          <div class="column-btn-2">
            <img
              class="role-img customer-img"
              src="../../../assets/Main/Welcome/Form.svg"
              alt="Документ с карандашом"
            />
          </div>
        </button>
        <button class="role-btn executor-btn">
          <div class="column-btn-1">
            <h3 class="role-title executor-title">Исполнитель</h3>
            <p class="role-text executor-text">
              Я буду зарабатывать на отзывах
            </p>
          </div>
          <div class="column-btn-2">
            <img
              class="role-img customer-img"
              src="../../../assets/Main/Welcome/Cash.svg"
              alt="Деньги"
            />
          </div>
        </button>
      </div>
      <div class="colummn-2">
        <div class="phone">
          <img
            class="phone-img"
            src="../../../assets/Main/Welcome/Phone.svg"
            alt="Телефон с отзывами"
          />
        </div>
      </div>
    </div>
    <div class="args">
      <h2 class="section-title">ПОЧЕМУ НАКРУТКА ОТЗЫВОВ ВАЖНА?</h2>
      <div class="args-cards">
        <div class="args-card rise-card">
          <img
            class="args-card-img"
            src="../../../assets/Main/Args/phonehold.svg"
            alt="Телефон, на котором смотрят отзывы, в руках"
          />
          <h4 class="args-card-title">Рост позиций в поиске</h4>
          <p class="args-card-text">
            Чем больше отзывов, тем выше бизнес в выдаче
          </p>
        </div>
        <div class="args-card trust-card">
          <img
            class="args-card-img"
            src="../../../assets/Main/Args/handshake.svg"
            alt="Рукопожатие"
          />
          <h4 class="args-card-title">Доверие клиентов</h4>
          <p class="args-card-text">
            87% людей проверяют отзывы перед выбором компании
          </p>
        </div>
        <div class="args-card conversion-card">
          <img
            class="args-card-img"
            src="../../../assets/Main/Args/starput.svg"
            alt="Рука, ставящая пять звёзд"
          />
          <h4 class="args-card-title">Конверсия в заказы</h4>
          <p class="args-card-text">
            Хороший рейтинг = больше звонков и продаж
          </p>
        </div>
      </div>
    </div>
    <div class="order">
      <h2 class="section-title">как заказать публикацию отзывов?</h2>
      <div class="order-cards"></div>
    </div>
    <div class="offers">
      <h2 class="section-title">что мы предлагаем для заказчика:</h2>
      <div class="offers-cards">
        <div class="offers-card offers-card-1">
          <h4 class="offers-card-title">Генерация отзывов с помощью ИИ</h4>
          <p class="offers-card-text">
            Алгоритм анализирует ваш пример отзыва, бизнес и создает стиль
            текста специально под него
          </p>
        </div>
        <div class="offers-card offers-card-2">
          <h4 class="offers-card-title">Гибкие условия</h4>
          <p class="offers-card-text">
            Вы сами выбираете сколько отзывов в день/в неделю будет
            публиковаться
          </p>
        </div>
        <div class="offers-card offers-card-3">
          <h4 class="offers-card-title offers-card-text-3">
            Выбор пола автора
          </h4>
          <p class="offers-card-text offers-card-text-3">
            Пример, для маникюрного салона можно заказать только отзывы от
            женщин
          </p>
        </div>
      </div>
    </div>
    <div class="platforms">
      <h2 class="section-title">используемые платформы</h2>
      <div class="platforms-cards">
        <div class="platform-card twogis-card">
          <img
            class="platform-card-img 2gis-img"
            src="../../../assets/Main/Platforms/2gis.svg"
            alt="Зелёная эмблема указателя карты"
          />
          <h3 class="platform-title">2ГИС</h3>
        </div>
        <div class="platform-card yandex-card">
          <img
            class="platform-card-img yandex-img"
            src="../../../assets/Main/Platforms/yand.svg"
            alt="Красная эмблема указателя карты"
          />
          <h3 class="platform-title">ЯНДекс</h3>
        </div>
      </div>
    </div>
    <div class="income">
      <h2 class="section-title">зарабатывайте на написании отзывов!</h2>
      <div class="income-cards">
        <div class="income-card income-card-1">
          <img
            class="income-card-img"
            src="../../../assets/Main/Income/calendar.svg"
            alt="Календарь"
          />
          <h4 class="income-card-title">Генерация отзывов с помощью ИИ</h4>
          <p class="income-card-text">
            Алгоритм анализирует ваш пример отзыва, бизнес и создает стиль
            текста специально под него
          </p>
        </div>
        <div class="income-card income-card-2">
          <img
            class="income-card-img"
            src="../../../assets/Main/Income/contacts.svg"
            alt="Папка с контактами"
          />
          <h4 class="income-card-title">Гибкие условия</h4>
          <p class="income-card-text">
            Вы сами выбираете сколько отзывов в день/в неделю будет
            публиковаться
          </p>
        </div>
        <div class="income-card income-card-3">
          <img
            class="income-card-img"
            src="../../../assets/Main/Income/wallet.svg"
            alt="Кошелёк"
          />
          <h4 class="income-card-title income-card-text-3">
            Выбор пола автора
          </h4>
          <p class="income-card-text income-card-text-3">
            Пример, для маникюрного салона можно заказать только отзывы от
            женщин
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
