.main {
  position: relative;
  max-width: 1480px;
  min-height: 100vh;
  padding: 30px 20px;
  box-sizing: border-box;
  margin: 0 auto 0;
  background: repeating-linear-gradient(
    0deg,
    #f5f7fa 500px,
    #eeeeff 400px,
    #eeeeff 400px,
    #f5f7fa 500px
  );
}

.header {
  position: absolute;
  margin-top: 27px;
}

.content {
  text-align: center;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-family: Inter, sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #333b69cc;
  text-align: left;
  margin: 0;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 25px;
  background-color: #ffffff;
  padding: 80px 50px;
  margin-top: 27px;
  z-index: 0;
}

.welcome-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  color: #333b69cc;
  text-align: left;
  margin: 25px 0 0;
}

.section-title {
  font-family: Inter, sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  color: #333b69cc;
}

.role-btn {
  width: 600px;
  height: 240px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr auto;
  border: none;
  cursor: pointer;
  padding: 30px;
}

.column-btn-1 {
  display: flex;
  flex-direction: column;
  max-height: 180px;
  justify-content: space-between;
}

.customer-btn {
  background-color: #6027ce;
  margin-top: 50px;
}

.executor-btn {
  background-color: #ff6b6b;
  margin-top: 23px;
}

.role-title {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 100%;
  color: #ffff;
  margin: 0;
  text-align: start;
}

.role-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #ffff;
  text-align: start;
  max-width: 343px;
}

.role-img {
  height: 240px;
  width: 200px;
  bottom: 0;
  right: 0;
}

.colummn-2 {
  display: flex;
  justify-content: center;
}

.phone {
  position: relative;
  z-index: 2;
  width: fit-content;
}

.phone-img {
  position: relative;
  width: 370px;
  height: 760px;
}

.phone::after {
  content: "";
  position: absolute;
  background: url("../../../assets/Main/Welcome/Shadow.svg") no-repeat;
  object-fit: cover;
  width: 424px;
  height: 67px;
  bottom: -10px;
  right: 40px;
  z-index: -1;
  filter: blur(8px);
}

.fivestars-img {
  position: absolute;
  height: auto;
  pointer-events: none;
  z-index: 3;
  left: 122px;
  transition: transform 0.5s ease-in-out;
}

.fivestars-img-top {
  top: 76px;
}

.fivestars-img-middle {
  bottom: 286px;
}

.fivestars-img-bottom {
  bottom: 10px;
}

.args {
  margin-top: 80px;
  display: grid;
  grid-template-areas:
    "title . cards"
    "cards cards cards";
  grid-template-rows: auto 1fr;
  min-height: 650px;
}

.args-title {
  grid-area: title;
  max-width: 429px;
  text-align: start;
}

.args-cards {
  grid-area: cards;
  display: flex;
  gap: 15px;
  position: relative;
  align-items: flex-end;
}

.args-card {
  width: 470px;
  height: 470px;
  border-radius: 25px;
  background-color: #ffffff;
}

.args-card-title {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  vertical-align: middle;
  color: #333b69;
}

.args-card-text {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #333b69;
  margin-top: 40px;
}

.trust-card {
  margin-bottom: 90px;
}

.conversion-card {
  margin-bottom: 180px;
}

.offers {
  margin-top: 100px;
}

.order-title {
  margin-top: 0;
  text-align: end;
}

.offer-title {
  text-align: start;
  max-width: 435px;
}

.offers-cards {
  display: flex;
  gap: 15px;
  margin-top: 50px;
}

.offers-card {
  width: 470px;
  height: 230px;
  border-radius: 25px;
  padding: 50px 36px 0;
}

.offers-card-1 {
  position: relative;
  background-color: #ffffff;
}

.robothand-img {
  position: absolute;
  bottom: -30px;
  left: -100px;
  height: auto;
  pointer-events: none;
}

.offers-card-2 {
  background-color: #d3d3ff;
}

.offers-card-3 {
  background-color: #5454fe;
  position: relative;
  // z-index: 10;
}

.offers-card-3::after {
  content: "";
  position: absolute;
  background: url("../../../assets/Main/Offers/darkstar.svg") no-repeat;
  object-fit: cover;
  width: 235px;
  height: 235px;
  top: -130px;
  right: -30px;
  z-index: 0;
}

// .darkstar-img {
//   position: absolute;
//   top: -140px;
//   right: -140px;
//   height: auto;
//   pointer-events: none;
//   z-index: -1;
// }

.offers-card-title {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  vertical-align: middle;
  color: #333b69;
}

.offers-card-text {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #333b69;
  margin-top: 40px;
}

.offers-card-text-3 {
  color: #ffffff;
}

.platforms {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.platforms-cards {
  display: flex;
  gap: 115px;
  margin-top: 120px;
}

.platform-card {
  background-color: #f4f4ff;
  border: 1px solid #0000001a;
  outline: 30px solid #ffff;
  width: 400px;
  height: 258px;
  border-radius: 15px;
}

.platform-title {
  font-family: Inter, sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #333b69;
}

.yandex-card {
  rotate: 10deg;
}

.twogis-card {
  rotate: -10deg;
}

.income {
  margin: 154px 0;
  display: grid;
  grid-template-areas:
    "cards . title"
    "cards cards cards";
  grid-template-rows: auto 1fr;
}

.income-title {
  grid-area: title;
  text-align: end;
  max-width: 450px;
  display: flex;
  justify-self: end;
}

.income-cards {
  grid-area: cards;
  display: flex;
  gap: 15px;
  position: relative;
  align-items: flex-end;
}

.income-card {
  width: 470px;
  height: 470px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 0 61px;
}

.income-card-1 {
  margin-bottom: 180px;
  position: relative;
}

.lightstar-img {
  position: absolute;
  height: auto;
  pointer-events: none;
  z-index: 0;
}

.lightstar-img-card-1 {
  bottom: -120px;
  left: -120px;
}

.income-card-2 {
  margin-bottom: 90px;
}

.income-card-3 {
  position: relative;
}

.lightstar-img-card-3 {
  top: -120px;
  left: -120px;
}

.income-card-title {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  vertical-align: middle;
  color: #333b69;
}

.income-card-text {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #333b69;
  margin-top: 40px;
}

@media (max-width: 360px) {
  .main {
    padding: 0;
  }

  .content-box {
    padding: 0 20px;
  }

  .header {
    display: none;
  }

  .welcome {
    grid-template-columns: 1fr;
    padding: 20px;
    margin-top: 0;
    display: block;
    width: fit-content;
  }

  .phone {
    display: none;
  }

  h1 {
    font-size: 16px;
    max-width: 247px;
  }

  .welcome-text {
    margin-top: 20px;
    font-size: 10px;
    max-width: 247px;
  }

  .role-btn {
    width: 319px;
    height: 110px;
    padding: 15px;
  }

  .column-btn-1 {
    max-height: 80px;
  }

  .role-title {
    font-size: 16px;
  }

  .role-text {
    font-size: 10px;
  }

  .role-img {
    width: auto;
    height: 100px;
  }

  .customer-btn {
    margin-top: 45px;
  }

  .executor-btn {
    margin-top: 10px;
  }

  .section-title {
    font-size: 16px;
  }

  .colummn-2 {
    display: none;
  }

  .args {
    grid-template-areas:
      "title"
      "cards";
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .args-cards {
    margin-top: 20px;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }

  .args-card {
    width: 320px;
    height: 258px;
    padding: 15px 20px 25px;
    margin-bottom: 0;
  }

  .args-card-img {
    max-width: 274px;
    width: auto;
    height: 140px;
  }

  .args-card-title {
    font-size: 14px;
  }

  .args-card-text {
    margin-top: 15px;
    font-size: 12px;
  }

  .order-title {
    margin-top: 30px;
    font-size: 16px;
    text-align: end;
  }

  .order-text {
    font-size: 12px;
  }

  .offers {
    margin-top: 30px;
  }

  .offers-cards {
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin-top: 30px;
  }
  .offers-card {
    width: 320px;
    height: 152px;
    padding: 35px;
  }

  .offers-card-title {
    font-size: 14px;
  }

  .offers-card-text {
    font-size: 12px;
    margin-top: 20px;
  }

  .robothand-img {
    position: absolute;
    bottom: -30px;
    left: -60px;
    height: 140px;
    pointer-events: none;
  }

  .offers-card-3::after {
    display: none;
  }

  .platforms {
    margin-top: 30px;
  }

  .platforms-cards {
    flex-direction: column;
    gap: 70px;
    margin-top: 40px;
  }

  .platform-card {
    outline: 11px solid #ffff;
    width: 234px;
    height: 152px;
  }

  .platform-card-img {
    max-width: 133px;
    max-height: 113px;
  }

  .platform-title {
    font-size: 12px;
  }

  .income {
    margin: 60px 0 30px;
    grid-template-areas:
      "title"
      "cards";
    grid-template-columns: 1fr;
  }

  .income-title {
    text-align: end;
  }

  .income-cards {
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    align-items: start;
  }

  .income-card {
    width: 320px;
    height: 258px;
    padding: 20px;
    margin-bottom: 0;
  }

  .income-card-img {
    max-width: 181px;
    height: auto;
  }

  .income-card-title {
    font-size: 14px;
  }

  .income-card-text {
    font-size: 12px;
    margin-top: 15px;
  }
}
